
<div class="pagename">

  <% if @category %>
      <h2 class="pagenametext"><%= @category.name %></h2>

  <% end %>
  
</div>

<div class="c_assignments">
  <% for assignment in @assignments %>

    <div class="c_assignment hide"><%=assignment.name%></div>
      <div class="show" style="display:none">
        <%=assignment.description%> <%= assignment.time %>
      </div>

  <% end %>
</div>
