
<div class="pagename">

  <% if @category %>
      <h2 class="pagenametext"><%= @category.name %></h2>

  <% end %>
  
</div>

<% for assignment in @assignments %>
 <div class="list">
  <div class="list-item">
    <h4 class="list-item-text hide">
      <a class="mdl-navigation__link mdl-color--blue-grey-300 mdl-color-text--black show">
        <%= assignment.name %></a>
    </h4>
  </div>
 </div>
<% end %>

