.pagename {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    position: relative;

}

.pagename-text {
    color: dimgray;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
    display: block;
}

.namebutton {
    float: right;
}

#show1 {
    display: none;
    cursor: pointer;
}

#show2 {
    display: none;
    cursor: pointer;
}

#show3 {
    display: none;
    cursor: pointer;
}

.tab {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

a p {
    margin: auto;
}

.pagenametext {
    display: inline-block;
}

#hide1 {
    cursor: pointer;
}
#hide2 {
    cursor: pointer;
}
#hide3 {
    cursor: pointer;
}