<div class="pagename">

<% for user in @users %>
<h2 class="pagenametext"><%= user.name %></h2>

  <% end %>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent namebutton">
    Dela
  </button>

  <% for day in @days %>
 <h3> <%= day.date %> </h3>
      <% end %>
</div>