.pagename {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    position: relative;
    background-color: antiquewhite;

}


.namebutton {
    float: right;
}

.show {
    cursor: pointer;
}

.tab {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

a p {
    margin: auto;
}

.pagenametext {
    display: inline-block;
}

.hide {
    cursor: pointer;
}

.list-item {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: antiquewhite;
    display: inline-block;


}
.list-item-text {

}

.list {
    margin-top: 20px;
}

.rubrik {
    border: 2px solid black;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.pna_div_button {
    display: block;


}